.color-bg{
    background-color: #264653;
}
h1{
    font-family: Poppins;
    font-size: 48px;
}
p{
    font-family: poppins;
    font-weight: 300;
}
.orange-btn{
    background-color: #E76F51;
}
h6,span,.fas,.far{
    color: #E76F51;
}
.bike-1,.bike-3{
    mix-blend-mode: luminosity;
}
